# Cloudflare credentials for Wrangler deployment
# Copy this file to .env and fill in your actual values
# DO NOT commit .env to Git

CLOUDFLARE_ACCOUNT_ID=49117820acd5ccaea75d0736a41b51da
CLOUDFLARE_API_TOKEN=l6bzsWf2Mt1dBME1T8SC-leqzHfOCUJUcVrAduVf
# run export CLOUDFLARE_API_TOKEN=l6bzsWf2Mt1dBME1T8SC-leqzHfOCUJUcVrAduVf
#before run wrangler deploy